html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.pauseplay {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;

}

.newsong{
  background-color: blue;
  color: yellow;
  border: none;
  border-radius: 25px;
  padding-block: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: "SpaceMono-Bold.ttf", monospace;
  font-size: 15px;
}

.newsong:hover {
  background-color: rgba(255, 255, 255);
  color: blue;
}

.upload{
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: yellow;
  font-family: " ";
}

.upload:hover {
  color: white;
}